<!DOCTYPE html>
<html>
  <head>
    <title>MakeAnything</title>
    <%= csrf_meta_tags %>
    <%=favicon_link_tag 'http://res.cloudinary.com/make-anything/image/upload/c_thumb,g_north,h_32,w_32/v1505856892/Logo_Make_Anything_Robot_x1jxzn.png' %>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
